<div class="container">
<!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>MARVLE MOVIES</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://www.kukinews.com/data/photos/kukiArticle/2013/1011/20131011kjh2.jpg" alt="iron man" style="height:350px; width:300px;" >
                    <div class="caption">
                        <h3>아이언맨</h3>
                        <p>"I'm IRON Man"</p>
                        <p>
                            <a href="/suzy" class="btn btn-primary">자세히 알아보기</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://cfile7.uf.tistory.com/image/273B0B4054E0F5AA07DB34" alt="캡틴"style="height:350px; width:300px;" >
                    <div class="caption">
                        <h3>캡틴 아메리카</h3>
                        <p>"I can do this all day."</p>
                        <p>
                            <a href="/sulhyun" class="btn btn-primary">자세히 알아보기</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://image.1004gundam.com/item_images/goods/380/1376379713.jpg" alt="토르" style="height:350px; width:300px;">
                    <div class="caption">
                        <h3>토르</h3>
                        <p>"You trust me"</p>
                        <p>
                            <a href="/iu.html" class="btn btn-primary">자세히 알아보기!</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://kidultit.com/data/photos/20150940/art_1443575629.jpg" alt="토르" style="height:350px; width:300px;">
                    <div class="caption">
                        <h3>토르</h3>
                        <p>"Hulk Smashes, Banner Builds."</p>
                        <p>
                            <a href="/dongwon.html" class="btn btn-primary">자세히 알아보기!</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
</div>